html,body{
    height: 100%; margin: 0; padding: 0;    
}

.timer_module{
    background: linear-gradient(#84fab0,#d1fdff,white);
    height: 100%;
    .bottomIconWrap{
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: 15px 0;
        >div{
            width: 50%;
            display: flex;
            justify-content: center;
        }
    }
    .leftVisible{
        width: 100%;
        height: 100%;
        transform: translate(-100%);
        transition-duration: 0.3s;
        position: fixed;
        overflow: hidden;
        overflow-y: auto;
        top: 0;
        background: linear-gradient(#fddb92,#d1fdff,white);
        &.show{
            transform: translate(0%);
            transition-duration: 0.3s;
        }
    }
    .rightVisible{
        width: 100%;
        height: 100%;
        transform: translate(100%);
        transition-duration: 0.3s;
        position: fixed;
        overflow: hidden;
        overflow-y: auto;
        top: 0;
        background: linear-gradient(#fed6e3,#d1fdff,white);
        &.show{
            transform: translate(0%);
            transition-duration: 0.3s;
        }
    }
    .skipBreak{
        text-decoration: underline;
        &:hover{
            cursor: pointer;
        }
    }
}

.Pomodoro_module{
    position: relative;
    height: 100%;
    padding: 10px;
    font-family: Microsoft JhengHei;
    display: flex;
    align-items: center;
    flex-direction: column;
    >input{
        width: calc(100% - 30px);
        height: 40px;
        border-radius: 10px;
        padding-left: 15px;
        border: 5px solid #fddb92;
    }
    .add{
        position: absolute;
        right: 30px;
        top: 23px;
        font-weight: bold;
        &:hover{
            cursor: pointer;
        }
    }
    .item_wrap{
        width: calc(100% - 30px);
        margin-top: 10px;
        .item{
            display: flex;
            align-items: center;
            margin: 5px 0;
            .id{
                width: 20%;
                >span{
                    margin-left: 10px;
                }
                >input::after{
                    margin-right: 10px;
                    width: 15px;
                    height: 15px;
                    border-radius: 15px;
                    top: -2px;
                    left: -1px;
                    position: relative;
                    background-color: #d1d3d1;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    border: 2px solid #d1fdff;
                }
                &.show >input::after{
                    width: 15px;
                    height: 15px;
                    border-radius: 15px;
                    top: -3px;
                    left: -1px;
                    position: relative;
                    background-color: #fddb92;
                    content: '';
                    display: inline-block;
                    visibility: visible;
                    border: 2px solid #d1fdff;
                }
            }
            .toDoList{
                width: 75%;
            }
        }
    }
}

.hasDone{
    padding: 15px;
    .title{
        font-weight: bold;
        border-bottom: 2px solid #a18cd1;
    }
}