@import './mixin';

.timerWrap{
  width: 100%;
  height: 360px;
 
}

.timer {
    transform: rotate(-90deg);
    transform-origin: center;
    max-width: 500px;
  }
  
  .svg {
    transform: scale(1.5);
    width: 100%;
    height: 50%;
  }
  
  .timerContainer {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-50% - 50px)) scale(1.5);
    font-family: Microsoft JhengHei;
  }
  
  // .statusIcon {
  //   font-size: 7vw;
  //   color: #f39c8f;
  //   @media screen and (min-width: 600px) {
  //     font-size: 50px;
  //   }
  // }
  
  // .countDown {
  //   font-size: 10vw;
  //   @media screen and (min-width: 600px) {
  //     font-size: 60px;
  //   }
  // }
  
  .timeInfo {
    position: absolute;
    z-index: 1;
    top: 47%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(calc(-50%));
  }

  .iconWrap {
    display: flex;
    justify-content: space-around;
  }



.module_wrap {
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-50% - 50px));
}

.todo {
  @include Title;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #999;
  &_list {
    @include Todo_List()
  }
}

.finish {
  @include Title;
  padding: 10px 0;
  &_list {
    @include Finish_List()
  }
}